

*{

  margin: 0;
    padding: 0;
}


.footer{

    display: flex;
    padding: 5px;


    width: 100%;

    background-color: lightgrey;

    justify-content: space-around;

}
.Customer services{
  margin-left: 20px;
  padding: 100,0,30;

}
